<DOCTYPE html>
<html>
<head>
   <title>About Us</title>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="static\About.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
</head>
<body >
 <!-- Head -->
  <div class="logo">
   <img src="img/logo2.png" alt="logo"> 
   <h1>Candle Shop</h1>
</div>

<!-- Nav Bar-->
<div class="Bar">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="templates/Home.htm">الرئيسية</a></li>
      <li><a href="templates/About.htm">عن موقعنا</a></li>
      <li><a href="templates/Products.htm">المنتجات</a></li>
      <li><a href="templates/OProducts.htm">اطلب هنا</a></li>
      <li><a href="templates/Contact.htm">اتواصل معنا</a></li>
    </ul>
  </div>
</nav>
 </div> 

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>النشأه</h3>
      <p>متجر كاندل تجربة تسوق ممتعة كاندل كورياتمتاز المنتجات الكورية بالطابع المتفرد من حيث التصميم و الجودة،و إننا كفريق عمل في متجر كاندل ننتقي لكم أفضل هذه المنتجات و لا يهمنا أن نتعب على ذلك! متجر كاندل هو متجر إلكتروني بسجل تجاري متخصص ببيع المنتجات الكورية و يقدم لعملائه خدمة التوصيل أينما كانوا</p>
ئ	  <img src="img/create.png">
    </div>
	
    <div class="col-sm-4">
      <h3>طرق الشحن</h3>
      <p><br><br><br>يتم الشحن مع شركة البريد السعودي كشحن محلي داخل السعودية </p>
	  <img src="img/ship.png">
    </div>	
	
    <div class="col-sm-4">
      <h3>سياسة الجودة</h3>
      <p>.كما أننا حريصون على تلقّي استفساراتهم و ملاحظتهم حول عملنا و ذلك إيماناً منا بأن عملاءنا ليسوا طرفاً آخر، بل هم جزءٌ من فريق العمل هنا</p>
	  <img src="img/policy.png">
    </div>
    
  </div>
</div> 

<!-- Footer-->
<div class="footer">
  <p>جميع الحقوق محفوظة 2019</p>
</div> 

</body>

</html>