<DOCTYPE html>
<html>
<head>
   <title>Contact Us</title>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Contact.css')}}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
</head>
<body >
 <!-- Head -->
  <div class="logo">
   <img src="/static/img/logo2.png" alt="logo" > 
   <h1>Candle Shop</h1>
</div>

<!-- Nav Bar-->
<div class="Bar">
<nav class="navbar navbar-default">
  <div class="container-fluid">
     <ul class="nav navbar-nav">
      <li><a href={{ url_for('home')}} >الرئيسية</a></li>
      <li><a href={{ url_for('about')}}>عن موقعنا</a></li>
      <li><a href={{ url_for('products')}}>المنتجات</a></li>
      <li><a href={{ url_for('order')}}>اطلب هنا</a></li>
      <li><a href={{ url_for('contact')}}>تواصل معنا</a></li>
    </ul>
  </div>
</nav>
 </div> 

 <div class="container">
  <form action="action_page.php">

    <label for="fname">Your Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="Unaizah">Unaizah</option>
      <option value="ArRass">ArRass</option>
      <option value="Buraydah">Buraydah</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:90px"></textarea>

    <input type="submit" value="ارســـال">

  </form>
</div> 

<!-- Footer-->
<div class="footer">
  <p>جميع الحقوق محفوظة 2019</p>
</div> 

</body>

</html>